/* --- Fonts --- */

@font-face {
    font-family: 'Gotham-Bold';
    src: url("../fonts/Gotham-Bold.eot");
    src: local("☺"), url("fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('fonts/centurygothic-webfont.eot');
    src: url('fonts/centurygothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/centurygothic-webfont.woff') format('woff'),
    url('fonts/centurygothic-webfont.ttf') format('truetype'),
    url('fonts/centurygothic-webfont.svg#CenturyGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothicBold';
    src: url('fonts/centurygothicbold-webfont.eot');
    src: url('fonts/centurygothicbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/centurygothicbold-webfont.woff') format('woff'),
    url('fonts/centurygothicbold-webfont.ttf') format('truetype'),
    url('fonts/centurygothicbold-webfont.svg#CenturyGothicBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* --- Overall Styles --- */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

/* --- Mobile first approach (style which applies for mobile, but can also be used for desktop version if it is not modified later on) --- */

body {
    padding: 0;
    background-color: black;
    margin: 0;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* --- Home Page Styles --- */

.myVideoContainer {
    display: none;
}

.fullscreen {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-image: url(img/background.png);
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#homeList {
    position: relative;
    z-index: -1;
}

iframe {
    width: 250px;
    height: 350px;
    border-width: 0;
}

.iframes {
    display: none;
}


/* --- Styles which include all the pages --- */

.menu ul li a {
    text-decoration: none;
    font-size: 4.5em;
    line-height: 2em;
    font-family: "CenturyGothicBold", sans-serif;
}

.menu ul li {
    text-align: center;
}

aside ul {
    list-style-type: none;
}

.logoMobile {
    height: 95%;
    padding: 15px;
    cursor: pointer;
}

main {
    margin-top: 120px;
}

.appbar {
    width: 100vw;
    height: 200px;
    top: 0;
    left: 0;
}

.appbar,
.menu {
    background-color: black;
    padding: 1em;
    position: fixed;
}

.menu {
    top: 200px;
    height: 100vh;
    width: 100vw;
    transition: all 0.3s 0.3s;
    color: white;
}

.menu.hidden {
    transform: translateX(-100vw);
}

.menuIcon {
    height: 120px;
    margin-top: 3.5%;
    float: right;
}

.menuIcon rect {
    fill: white;
    transition: all 0.6s;
}

.menuIcon rect:nth-child(1) {
    transform-origin: left top;
}

.menuIcon rect:nth-child(3) {
    transform-origin: left bottom;
}

.menuIcon rect.fadeOut {
    opacity: 0;
}

.menuIcon rect.rotateUp {
    transform: rotate(-45deg) translate(18px, 41px);
}

.menuIcon rect.rotateDown {
    transform: rotate(45deg) translate(17px, -14px);
}

.nav-desktop {
    display: none;
}


/* --- Contact page styles --- */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
    background-color: transparent;
    border: transparent;
    color: white;
    border-bottom: 1px solid white;
    font-family: "CenturyGothic";
    padding-left: 0;
    overflow: hidden;
    outline: none;
}

input[type=submit] {
    color: white;
    padding: 12px 55px;
    cursor: pointer;
    font-family: "CenturyGothic";
    font-size: 15px;
    margin: 0 auto;
    display: block;
    background: linear-gradient(to right, rgba(0, 94, 116, 0.8) 25%, transparent, transparent);
    border: none;
    font-family: "CenturyGothicBold";
    letter-spacing: 1.5px;
    border-radius: 15px;
}

input[type=submit]:hover {
    background-color: transparent;
}

label {
    color: white;
}

/* --- Music Page --- */

.music {
    color: white;
    padding-top: 80px;
}

.music:nth-child(odd) {
    display: none;
}

.songContainer {
    height: 100%;
    width: 100%;
}

.songName {
    font-family: "CenturyGothic", sans-serif;
}

.music .songName {
    color: white;
    font-family: "Gotham-Bold", sans-serif;
    font-size: 4em;
    text-transform: uppercase;
    width: 85%;
    letter-spacing: -1px;
}

.songPic {
    height: 100%;
    width: 100%;
}

.container-fluid-song {
    margin: 7em;
}

/* --- Shows page styles --- */

.event {
    color: white;
    padding: 2.5em;
    font-family: "CenturyGothicBold", sans-serif;
}


.picContainer {
    width: 100%;
    height: 270px;
}


.pic {
    height: 100%;
    width: 100%;
}

.date {
    margin-left: 0;
    margin-right: auto;
    font-size: 4em;
}

.event .location {
    font-size: 4em;
}


.container-fluid {
    margin: 1em;
}

/* --- Styles which are applied only for screens starting from 1025px in width --- */

@media only screen and (min-width: 1025px) {
    /* --- Contact page Styles --- */
    #backContact {
        background-image: url(img/contact.png);
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
        z-index: -1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container-contact {
        border-radius: 5px;
        padding: 20px;
        margin: 0 auto;
        display: block;
        width: 300px;
        margin-top: 170px;
        font-family: "CenturyGothic";
        font-weight: 600;
    }

    /* --- Titles styles applied for Music and Shows Pages --- */
    .titleContainer {
        color: white;
        font-family: "CenturyGothicBold";
        font-size: 30px;
        padding-top: 50px;
        margin-bottom: -50px;
        letter-spacing: 2px;
    }

    .title {
        text-align: center;
    }

    /* --- Shows Page Styles --- */
    .event {
        padding: 0em;
        text-align: center;
        display: flex;
        height: 100px;
        transition: all .2s ease-in-out;
    }
    .event:hover {
        transform: scale(1.1);
    }
    .date {
        font-size: 1.3em;
        text-align: center;
        width: 150px;
        display: inline-block;
        line-height: 100px;
        margin: 0 auto;
    }
    

    /* --- Home Page Styles --- */
    .iframes {
        display: block;
        position: relative;
    }
    .spotify {
        margin: 40%;
        margin-left: -44%;
        margin-bottom: 0;
    }
    .soundCloud {
        margin: 40%;
        margin-bottom: 0;
    }
    .spotifyContainer {
        right: 0;
        position: absolute;
    }
    .soundContainer {
        left: 0;
        position: absolute;
    }
    .myVideoContainer {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
        display: block;
    }
    #myVideo {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.65;
    }


    /* --- Showing the empty odd elements on desktop for a better design --- */
    .music:nth-child(odd) {
        display: block;
    }

    /* --- Styles which include all the pages --- */
    nav {
        display: inline-block;
        float: right;
    }
    ul {
        list-style-type: none;
    }
    .nav-desktop {
        display: block;
    }
    .appbar {
        display: none;
    }
    .mediaIcon {
        height: 100%;
    }
    main {
        margin-top: 0;
    }
    .menuIcon {
        display: none;
    }
    .menuDesktop {
        display: inline-block;
    }
    nav {
        color: #fff;
        background-color: transparent;
        padding-top: 50px;
        padding-right: 50px;
    }
    .menu-doubt {
        font-size: 1.5rem;
        padding-top: 2px;
    }
    nav ul li {
        float: left;
    }
    nav ul a {
        font-size: 1.2rem;
        color: #fff;
        padding: 0 5px;
        text-decoration: none;
        cursor: pointer;
        font-family: "CenturyGothic", sans-serif;
    }
    nav ul li a::after {
        content: " | ";
        color: grey;
        font-size: 20px;
    }
    nav ul li:nth-last-child(1) a::after {
        content: "";
    }
    .brand-logo {
        cursor: pointer;
        padding-left: 100px;
        padding-top: 50px;
        display: inline-block;
    }
    aside {
        display: none;
    }

    /* --- Shows Page Styles --- */
    .picContainer {
        height: 150px;
        width: 600px;
        display: inline-block;
        margin: 0 auto;
        height: 100px;
    }
    .event .location {
        font-size: 16px;
        display: inline-block;
        width: 185px;
        font-family: "CenturyGothic", sans-serif;
        margin: auto 0;
        padding-left: 5px;
        padding-right: 5px;
    }

    #eventList {
        grid-template-columns: repeat( 2, minmax(350px, 1fr));
        display: grid;
        margin: 130px;
        color: white;
    }
    
    .event:nth-child(3) {
        pointer-events: none;
    }
    .event:nth-child(4) {
        pointer-events: none;
    }
    .event:nth-child(7) {
        pointer-events: none;
    }
    .event:nth-child(8) {
        pointer-events: none;
    }
    .event:nth-child(11) {
        pointer-events: none;
    }
    .event:nth-child(12) {
        pointer-events: none;
    }
    .event:nth-child(15) {
        pointer-events: none;
    }
    .event:nth-child(16) {
        pointer-events: none;
    }

    /* --- Home Page Styles --- */
    .home {
        display: inline-block;
        padding-right: 25px;
    }
    #homeList {
        cursor: pointer;
    }
    .containerHome {
        width: 100%;
        position: fixed;
        bottom: 10%;
        left: 0px;
        text-align: center;
    }
    .picIcons {
        width: 50px;
    }

    /* --- Music Page Styles --- */
    .music {
        padding-top: 0px;
        margin-bottom: 0;
        position: relative;
    }
    .songContainer {
        max-height: 100%;
        max-width: 100%;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
    }
    .container {
        display: none;
        height: 250px;
    }
    .container:hover .overlay {
        opacity: 1;
    }
    .music .songName {
        position: absolute;
        font-family: "Gotham-Bold", sans-serif;
        bottom: 5%;
        left: 5%;
        font-size: 1.5em;
        text-transform: uppercase;
        width: 85%;
        letter-spacing: -1px;
        line-height: 25px;
    }

    .music .songArtist {
        font-size: 1.3em;
    }
    .music .songDuration {
        font-size: 1.3em;
        text-align: center;
    }
    .music .songLink {
        font-size: 1em;
        text-align: center;
    }

    #musicList {
        grid-template-columns: repeat( 5, minmax(250px, 1fr));
        display: grid;
        margin: 50px;
        margin-top: 150px;
        color: white;
    }

}

@media only screen and (max-width: 1255px) {
    /* --- Styles which apply for mobile and tablet only --- */
    .event:nth-child(3) {
        display: none;
    }
    .event:nth-child(4) {
        display: none;
    }
    .event:nth-child(7) {
        display: none;
    }
    .event:nth-child(8) {
        display: none;
    }
    .event:nth-child(11) {
        display: none;
    }
    .event:nth-child(12) {
        display: none;
    }
    .event:nth-child(15) {
        display: none;
    }
    .event:nth-child(16) {
        display: none;
    }
    .event {
        font-family: "CenturyGothic", sans-serif;
    }
    .songName {
        margin: 10px;
    }
    .music .songName {
        text-transform: none;
        font-family: "CenturyGothic", sans-serif;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1255px) {

    /* --- Style applied only for screens between 1025px - 1255px in width --- */
    #eventList {
        grid-template-columns: repeat( 1, minmax(650px, 1fr))
    }
    #eventList {
        padding-left: 120px;
        padding-right: 120px;
    }
    .event {
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 1455px) and (max-width: 1700px) {
    /* --- Style applied only for screens between 1455px - 1700px in width --- */
    .music .songName {
        text-transform: uppercase;
        font-size: 1.4em;
        font-family: "Gotham-Bold", sans-serif;
        line-height: 20px;
    }
    #eventList {
        margin: 0;
        margin-top: 120px;
        margin-right: 150px;
        margin-left: 150px;
    }
    .date {
        font-size: 16px;
    }
    iframe {
        width: 270px;
        height: 400px;
    }
    
}

@media only screen and (min-width: 1025px) and (max-width: 1475px) {
    /* --- Style applied only for screens between 1025px - 1475px in width --- */
    #musicList {
        grid-template-columns: repeat( 5, minmax(200px, 1fr))
    }
    .container {
        height: 200px;
    }
    .music .songName {
        text-transform: uppercase;
        font-size: 1.2em;
        font-family: "Gotham-Bold", sans-serif;
        line-height: 20px;
    }
    #eventList {
        margin: 0;
        margin-top: 100px;
        margin-right: 30px;
        margin-left: 30px;
    }
    .date {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1255px) {
    /* --- Style applied only for screens between 1025px - 1255px in width --- */
    #musicList {
        grid-template-columns: repeat( 3, minmax(200px, 1fr))
    }
    .container {
        height: 250px;
    }
    .music .songName {
        text-transform: uppercase;
        font-size: 1.3em;
        font-family: "Gotham-Bold", sans-serif;
        line-height: 20px;
    }
}

@media only screen and (min-width: 1700px) {
    /* --- Style applied for screens bigger than 1750px ---*/
    .container {
        height: 288px;
    }
    iframe {
        width: 300px;
        height: 450px;
    }
}

@media only screen and (min-width: 1850px) {
    /* --- Style applied for screens bigger than 1850px ---*/
    .container {
        height: 300px;
    }
}



@media only screen and (max-width: 1024px) {
    /* Only mobile preferences which do not have to affect the desktop version */
    .event {
        margin-top: 190px;
    }
    .containerHome {
        width: 100%;
        position: fixed;
        bottom: 10%;
        left: 0px;
        text-align: center;
        z-index: -1;
    }
    .home {
        display: inline-block;
        margin-left: 5%;
    }
    .picIcons {
        width: 120px;
    }
    .overlay {
        background: transparent !important;
    }
    .container-fluid-song {
        margin: 0;
    }
    .event {
        background: transparent !important;
    }
    .container-fluid {
        margin: 0;
    }
    .event {
        padding: 0;
    }
    .event .location {
        padding: 25px;
        text-align: center;
    }
    .date {
        padding: 25px;
        text-align: center;
        font-weight: 600;
    }
    .songName {
        padding: 15px;
    }
    .container-contact {
        display: block;
        position: fixed;
        top: 15%;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
        opacity: 1;
        z-index: -1;
        font-size: 4.5em;
        font-family: "CenturyGothicBold", sans-serif;
        padding: 30px;
        padding-top: 15%;
    }
    input[type=text],
    select,
    textarea {
        font-size: 0.5em;
    }
    input[type=submit] {
        font-size: 1.2em;
        margin: 0;
        width: 100%;
        margin-top: 10%;
        text-transform: lowercase;
    }

    .titleContainer {
        color: white;
        font-family: "CenturyGothicBold", sans-serif;
        font-size: 3em;

    }

    .title {
        text-align: center;
        margin-bottom: -120px;
        padding-top: 100px;
        z-index: -1;
    }

    #musicList {
        padding-top: 100px;
    }
}
